body {
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(23, 43, 21, 0.8) 0%, rgba(0, 0, 0, 1) 70%);
}

.Encabezado {
    display: grid;
    grid-template-rows: auto auto auto;
    justify-content: center;
}
img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto 20px auto;
}
h1 {
    width: 300px;
    color: green;
}
.Centro {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}
h2 {
    text-align: center;
}
p {
  text-align: center;  
}
h3{
    text-align: center;
    color: rgb(70, 58, 40);
    }
#Horario {
    text-align: center;

}
table{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    text-align: center;
}

thead,tbody,tr{
    display: contents;
}

th,td{
    padding: 10px;
}
.parrafo  {
    background-color: rgba(red, green, blue, alpha);
    font-size: 16px;
}


    #listahabilidades {
        color: rgb(22, 155, 22);
        text-align: center;
        }

    h6 {
        color: #791616
        }
    
.Lista {
    color: rgb(173, 196, 44);
    justify-content: center;
    margin: auto;
}
#SeccionContactos {
    text-align: center;
}
.contactos {
    display: grid;
    justify-content: center;
    color: #791616;
}
#redes {display: grid;
    justify-content: center;
}
@media  (max-width: 760px) {
    body {
        padding: 15px; 
    }
    img {
        width: 150px;
        height: 150px;
    }
    table {
        grid-template-columns: auto; 
        row-gap: 15px;
        width: 100%;
    }
    .Lista {
        width: 280px;
        margin: 0 auto;
        text-align: left;
    }
}
